# ==========================
# Fichiers sensibles
# ==========================
.env
.env.*

# ==========================
# Composer
# ==========================
/vendor/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Cache
# ==========================
cache/
tmp/
temp/

# ==========================
# Sauvegardes
# ==========================
*.bak
*.backup
*.sql

# ==========================
# Windows
# ==========================
Thumbs.db
desktop.ini

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PhpStorm / IntelliJ
# ==========================
.idea/

# ==========================
# Fichiers système
# ==========================
*.swp
*.swo